/* Theme Colors */
:root {
  --c-body: #94a1b2;
  --c-headline: #fffffe;
  --c-primary: #7f5af0;
  --c-secondary: #2cb67d;
  --c-background: #16161a;
  --c-background-light: #242629;
}

/* My Global CSS */
html,
body {
  font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif, 'Segoe UI Emoji';
  font-size: 16px;
  background: var(--c-background);
  color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  line-height: 1.5;
  outline: 0;
  color: var(--c-headline);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--c-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  border: none;
}
