.header {
  height: 64px;
  position: sticky;
  top: 0;
  background: var(--c-background);
  z-index: 1;

  .inner {
    display: flex;
    align-items: center;

    .blogTitle {
      font-size: 18px;
      line-height: 64px;
      color: var(--c-headline);
      font-weight: bold;
      margin-left: 16px;
    }

    .blogTitle:hover {
      text-decoration: none;
    }
  }
}
