.container {
  max-width: 800px;
  padding: 0 40px;
  margin: 0 auto 6rem;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
}

.blogTitle {
  font-size: 18px;
  line-height: 64px;
  color: var(--c-headline);
  font-weight: bold;
  margin-left: 16px;
}

.blogTitle:hover {
  text-decoration: none;
}

.backToHome {
  margin: 3rem 0 0;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 24px;
  }
}
