.container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto 6rem;
}

.header {
  height: 64px;
}

.blogTitle {
  font-size: 18px;
  line-height: 64px;
  color: var(--color-headline);
  font-weight: bold;
}

.blogTitle:hover {
  text-decoration: none;
}

.backToHome {
  margin: 3rem 0 0;
}
