.postContent {
  font-size: 16px;
  line-height: 1.9;

  code {
    font-family: 'Roboto Mono', monospace;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--c-headline);
    & + p {
      margin-top: 0.3em;
    }
  }

  h1,
  h2 {
    margin-top: 2.3em;
    margin-bottom: 0.5em;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.25em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 1.7em;
    padding-bottom: 0.2em;
    margin-bottom: 1.1em;
    border-bottom: 1px solid var(--c-background-light);
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.9em;
  }

  hr {
    border-top: 2px solid var(--c-background-light);
    margin: 2.5em 0;
  }

  br {
    display: none;
  }

  p {
    white-space: pre-wrap;
    & + p {
      margin-top: 1.5em;
    }

    a {
      color: var(--c-primary);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    & > code {
      color: var(--c-secondary);
      background: var(--c-background-light);
      padding: 0.2em 0.4em;
      font-size: 0.85em;
      border-radius: 4px;
      vertical-align: 0.08em;
    }
  }

  ul,
  ol {
    margin: 1.4rem 0;
    padding-left: 1.8em;
    line-height: 1.7;
    li {
      margin: 0.4em 0;
      ul,
      ol {
        margin: 0;
      }
    }
  }

  pre {
    background: var(--c-background-light);
    margin: 1.3rem 0;
    overflow-x: auto;
    border-radius: 0.4em;
    word-break: normal;
    word-wrap: normal;
    display: flex;

    & > code {
      color: var(--c-headline);
      display: block;
      margin: 0;
      padding: 1.1rem;
      font-size: 0.9em;
    }
  }

  blockquote {
    padding-left: 1.8em;
    border-left: 4px solid var(--c-background-light);

    * {
      opacity: 0.8;
    }
  }
}
