.postContent {
  font-size: 16px;
  line-height: 1.9;

  code {
    font-family: 'SFMono-Regular', 'Roboto Mono', monospace;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--c-headline);
    code {
      background: var(--c-background-light);
    }
    & + p {
      margin-top: 0.3em;
    }
  }

  h1,
  h2 {
    margin-top: 2.3em;
    margin-bottom: 0.5em;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.25em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 1.7em;
    padding-bottom: 0.2em;
    margin-bottom: 1.1em;
    border-bottom: 1px solid var(--c-background-light);
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.9em;
  }

  hr {
    border-top: 2px solid var(--c-background-light);
    margin: 2.5em 0;
  }

  br {
    display: none;
  }

  p {
    white-space: pre-wrap;
    & + p {
      margin-top: 1.5em;
    }

    code {
      background: var(--c-background-light);
    }
    a {
    }
    img {
    }
  }

  ul,
  ol {
    margin: 1.4rem 0;
    line-height: 1.7;
  }

  ul {
    // 1階層目
    li {
      &::marker {
      }
      ul {
        // 2階層目
        li {
          &::marker {
          }

          ul {
            // 3階層目
            li {
              &::marker {
              }
            }
          }
        }
      }
    }
  }
  ol {
    // 1階層目
    li {
      &::marker {
      }
      ol {
        // 2階層目
        li {
          &::marker {
          }
          ol {
            // 3階層目
            li {
              &::marker {
              }
            }
          }
        }
      }
    }
  }

  //コードブロック
  pre {
    code {
    }
  }

  blockquote {
    blockquote {
    }

    p {
    }
  }
}
