.profile {
  display: flex;
  align-items: center;
}
.imageWrapper {
  border-radius: 50%;
  min-width: 100px;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border: 4px solid var(--c-primary);
}

.description {
  margin-left: 64px;
}

.name {
  font-size: 20px;
}

.desc1 {
  font-size: 18px;
  margin-top: 8px;
}

.desc2 {
  font-size: 16px;
  margin-top: 4px;
}

@media screen and (max-width: 576px) {
  .profile {
    flex-direction: column;
    align-items: flex-start;
  }

  .description {
    margin-left: 0;
  }
  .name {
    margin-top: 24px;
  }
}
